---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
import Intro from "../components/Intro.astro";
import Gallery from "../components/Gallery.astro";
import WeddingInfo from "../components/weddingInfo.astro";

const SITE_URL = "https://seungbin-seongae.com";
---
<BaseLayout
  title="박승빈 김성애 결혼합니다"
  description="소중한 분들을 초대합니다"
  url={SITE_URL}
  ogImage="/02.JPG"
>
	<div class="hide-scrollbar snap-container h-full overflow-y-scroll snap-y snap-mandatory scroll-smooth">
		<section class="mx-auto max-w-[420px] h-dvh snap-start">
			<Hero />
		</section>
		<section class="mx-auto max-w-[420px] h-dvh snap-start py-10">
			<Intro />
		</section>
		<section class="mx-auto max-w-[420px] min-h-screen snap-start py-10">
			<Gallery />
		</section>
		<section class="mx-auto max-w-[420px] h-dvh snap-start py-10">
			<WeddingInfo />
		</section>
	</div>
</BaseLayout>
