---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
import Intro from "../components/Intro.astro";
import Gallery from "../components/Gallery.astro";
import WeddingInfo from "../components/weddingInfo.astro";
import EndInfo from "../components/EndInfo.astro";

const SITE_URL = "https://seungbin-seongae.com";
---
<BaseLayout
  title="박승빈 김성애 결혼합니다"
  description="2026년 4월 4일 토요일 오후6시"
  url={SITE_URL}
  ogImage="/photo10.jpeg"
>
	<div class="hide-scrollbar h-full overflow-y-scroll scroll-smooth">
		<section class="mx-auto max-w-[420px] h-dvh">
			<Hero />
		</section>
		<section class="mx-auto max-w-[420px] min-h-screen py-5">
			<Intro />
		</section>
		<section class="mx-auto max-w-[420px] min-h-screen py-5">
			<Gallery />
		</section>
		<section class="mx-auto max-w-[420px] min-h-screen py-5">
			<WeddingInfo />
		</section>
		<section class="mx-auto max-w-[420px] py-5">
			<EndInfo />
		</section>
	</div>
</BaseLayout>
