<section class="relative h-full flex flex-col items-center justify-center text-center">
  <!-- 가운데(이름) -->
  <div class="flex items-baseline justify-center gap-5">
    <h1 class="text-xl font-nanum tracking-[0.04em]">박승빈</h1>
    <h1 class="text-xl font-nanum tracking-[0.04em]">&</h1>
    <h1 class="text-xl font-nanum tracking-[0.04em]">김성애</h1>
  </div>

  <!-- 하단(날짜 + 구분선) -->
  <div class="absolute inset-x-0 bottom-16 px-5">
    <p class="font-gowoon text-sm leading-7 text-zinc-600">
      2026년 4월 4일 토요일 오후 6시
    </p>
    <div class="mt-6 h-px w-full bg-zinc-200"></div>
  </div>
</section>
