<section class="font-gowoon ">
  <!-- <h2 class="text-base font-semibold">초대합니다</h2> -->
    <p class="mt-3 text-xl leading-7 text-zinc-700 text-center">
        문학소년이었던 사업가와<br>
        학생회장이었던 엔지니어가<br>
        같은 방향을 바라보게 되었습니다.
    </p>
    <p class="mt-3 text-xl leading-7 text-zinc-700 text-center">
        다름 속에서 닮음을 알아보았고<br>
        조용히 쌓아온 확신으로<br>
        이제, 함께 걸어가려 합니다.<br>
    </p>
    <p class="mt-3 text-xl leading-7 text-zinc-700 text-center">
        저희의 첫 걸음을 <br>소중한 분들과 함께하고 싶습니다.<br>
    </p>
    <h2 class="mt-10 mb-3 text-xl leading-7 text-zinc-900 font-semibold text-center">
            신랑 박승빈 신부 김성애<br>
            2026년 4월 4일 저녁 6시 신라호텔 영빈관<br></h2>
   
</section>
