<section class="min-h-screen flex flex-col font-gowoon text-center justify-between">
  <!-- 가운데(본문) -->
  <div class="flex flex-col gap-8 text-sm mt-4">
    <p class="leading-7 text-zinc-700">
      문학소년이었던 사업가와<br />
      학생회장이었던 엔지니어가<br />
      같은 방향을 바라보게 되었습니다.
    </p>

    <p class="leading-7 text-zinc-700">
      다름 속에서 닮음을 알아보았고<br />
      조용히 쌓아온 확신으로<br />
      이제, 함께 걸어가려 합니다.
    </p>

    <p class="leading-7 text-zinc-700">
      저희의 첫 걸음을<br />
      소중한 분들과 함께하고 싶습니다.
    </p>
  </div>

<!-- 하단(신랑/신부) -->
<div class="py-10">
  <div class="mb-6 h-px w-full bg-zinc-200"></div>
  <p class="text-zinc-900 flex items-baseline justify-center gap-3">
    <span class="text-sm text-zinc-600">신랑</span>
    <span class="text-base font-semibold tracking-[0.04em]">박승빈</span>

    <span class="mx-2 text-zinc-400">·</span>

    <span class="text-sm text-zinc-600">신부</span>
    <span class="text-base font-semibold tracking-[0.04em]">김성애</span>
  </p>
  <div class="mt-6 h-px w-full bg-zinc-200"></div>
</div>


  <!-- 맨 하단(날짜/장소) -->
  <div class="flex flex-col gap-2 items-center">
    <span class="text-sm text-zinc-600">
      2026년 4월 4일 토요일 오후 6시
    </span>
    <span class="text-sm text-zinc-600">
      신라호텔 영빈관
    </span>
    <p class="text-xs text-zinc-500 my-10">
        축의금과 화환은 정중히 사양합니다.<br />
        마음만 감사히 받겠습니다.
    </p>
    <img
    src="/logo-hotel.png"
    alt="Shilla Hotel logo"
    class="w-32 opacity-80"
    loading="lazy"
    decoding="async"/>
  </div>
</section>
