<section class="min-h-screen flex flex-col font-gowoon text-center justify-center items-center">
  <!-- 가운데(본문) -->
   <img
    src="/shilla-logo.png"
    alt="Shilla Hotel logo"
    class="w-32 opacity-80 mb-6"
    loading="lazy"
    decoding="async"/>
  <div class="flex flex-col gap-8 text-sm mt-4">
    <p class="leading-7 text-zinc-700">
      예식은 <br />1부(야외 예식) 2부(연회장 식사)로 이루어집니다. <br />
    </p>

    <p class="leading-7 text-zinc-700">
      예식 한 시간 전인 5시부터<br /> 
      웰컴 드링크와 포토부스가 준비되어 있으니,<br />
      여유롭게 오셔서 함께 즐겨주세요.
    </p>

    <p class="leading-7 text-zinc-700">
      소중한 분들을 편안하게 모시기 위해 <br />
      식사는 지정 좌석으로 진행됩니다.<br />
    </p>

    <p class="leading-7 text-zinc-700">
      예식 일주일 전,<br /> 참석 여부 확인 문자를 보내드릴 예정입니다.
    </p>
  </div>
</section>

